.item {
  display: flex;
  background-color: white;
  width: 500px;
  height: auto;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #888888;
  border-top-style: hidden;
  box-shadow: 0 5px 5px lightsteelblue;
}

.statusGreen {
  background-color: aquamarine;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 40px;

}

.statusRed {
  background-color: coral;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 40px;
}
.friendList {
  list-style-type: none;
  background-color: white;
  width: 600px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 100px;
}

.name {
  font-size: 30px;
  color: #1a1a1a;
}
