.transactionHistory {
    background-color: white;
    color: #888888;
    width: 1000px;
}

.head{
    background-color: #747bff;
    color: white;
    height: 40px;
}

tbody tr:nth-child(even) {
    background-color: gainsboro;
}